<header class="w-full p-4 bg-gray-200 flex justify-between">
  <div class="logo"><span class="font-semibold text-xl">{{ site.meta.title }}</span></div>
  <nav>
    <a href="/">Inicio</a>
  </nav>
</header>