<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {{ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/static/css/tailwind.css' | url }}">
</head>
<body>
  {{ content | safe }}
</body>
</html>
