<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/static/css/tailwind.css' | url }}">
  {% metagen metadata %}
</head>
<body data-barba="wrapper">
  {% include 'components/navbar.njk' %}
  <div class="progress">
    <span class="bar bg-gray-300"></span>
  </div>
  <div id="container" data-barba="container" class="animate-fade-up animate-once animate-duration-500 animate-normal">
    {{ content | safe }}
  </div>
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.4/fuzzysort.min.js"></script>
  <script type="module" src="{{ '/static/js/bundle.js' | url }}"></script>
</body>
</html>
