---
permalink: "static/post.json"
---
[
    {% for post in collections.post | reverse %}
    {
        "url": "{{ post.url | url }}",
        "title": "{{ post.data.title }}",
        "date": "{{ post.data.page.date | readableDate }}",
        "imgUrl": "{{ post.data.imgUrl }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
]