---
layout: layouts/base.njk
eleventyComputed:
  metadata:
    title: "Busqueda"
    desc: "{{ site.meta.description }}"
---

<h1>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Dolores, illo.</h1>