---
permalink: "/static/js/bundle.js"
---
{% set js %}
{% include "../static/js/progressBar.js" %}
{% include "../static/js/search.js" %}
{% include "../static/js/barbaConf.js" %}
{% include "../static/js/main.js" %}
{% endset %}
{{ js | safe }}